#main-chart-control-panel-projection {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-size: .75rem;
}

#main-chart-control-panel-projection > * {
    margin: .25rem;
}

#main-chart-control-panel-projection input {
    width: 50px;

    font-family: inherit;
    font-size: .75rem;
}

