#main-chart-control-panel {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1rem 0;

    background-color: #C8E6C9;  /* Green 100 */
}

#main-chart-control-panel .title {
    text-align: center;
}

#main-chart-control-panel .description {
    font-size: .75rem;
    text-align: center;
}

/** ********** SECTIONS ********** **/

#main-chart-control-panel > section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex: 1 1 0;  /* All children have equal width */

    max-width: 320px;
    margin: 0 .5rem;
}



/** ********** SUB-SECTIONS ********** **/

.cp-subsection-full, .cp-subsection-960, .cp-subsection-320 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: .25rem;
}

.cp-subsection-full {
    width: 100%;
}

.cp-subsection-320 {
    width: 320px;
}

.cp-subsection-960 {
    width: 960px;
}

/** ***** SORT ***** **/


