#analytics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 640px;
    width: 100%;

    text-align: center;
}

@media only screen and (max-width: 1488px) {
    #analytics {
        height: 640px;
    }
}

#analytics .title {
    margin-bottom: 1.25rem;

    font-size: 1.25rem;
    font-weight: bold;
}

#analytics .description {
    margin-bottom: .75rem;
}

#analytics .footnote {
    color: #9E9E9E;  /* Grey 500 */
    font-size: .75rem;
    font-style: italic;
}

#analytics .clickable {
    cursor: pointer;
}

#analytics .clickable:hover {
    text-decoration: underline;
}

@keyframes opacity-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** ********** ANALYTICS DISPLAY ********** **/

#analytics-display .fade-in {
    opacity: 0;

    animation: opacity-in 1s linear 0s 1 normal forwards;
}
