#app {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    /* 688 = 640 + (24 * 2) (main chart size + page padding) */
    min-width: 688px;

    background-color: #fafafa;
}

#app > div {
    width: 100%;
}

@media only screen and (max-width: 688px) {
    #app {
        min-width: 100vw;
    }
}


