/** ********** APP GENERICS ********** **/

#app {
    padding: 1rem;
}

.app-section {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 640px;
    padding: .25rem;
}

.img-link-container {
    display: flex;
    justify-content: center;
}

.img-link-container a {
    display: block
}

.img-link-container img {
    display: block;
}
