#app {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    width: 320px;

    /*min-width: 320px;*/  /* Remember: .page has 1rem padding) */

    background-color: #fafafa;
}

#app > div {
    width: 100%;
}

@media only screen and (min-width: 320px) {
    #app {
        width: 100%;  /* #app will always grow to fit screen size */
    }
}

@keyframes opacity-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
