/* ********** GENERAL ********** */

* {
    /* Make padding and border included in the total
     width and height of elements */
    box-sizing: border-box;
}

html {
    font-size: 20px;
    line-height: 1.5;

    min-width: 480px;
}

@media only screen and (min-width: 848px) and (min-height: 848px) {
    html {
        font-size: 24px;
    }
}

body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Gentium Basic', serif;
    color: #212121;
}

a {
    color: #03A9F4;  /* Light Blue 500 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

hr {
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fafafa, #212121, #fafafa);
}

sup {
    font-size: .5rem;
    font-weight: 700;
}

/* ********** HELPERS ********** */

.hidden { display: none; }
.hidden-vis { visibility: hidden; }
.hidden-op { opacity: 0; }
.shown-op { opacity: 1; }
.hidden-vis-op { visibility: hidden; opacity: 0; }

.fake-link {
    color: #03A9F4;  /* Light Blue 500 */
    text-decoration: none;
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}

.fake-link:active {
    color: #0277BD;  /* Light Blue 800 */
}
