#control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    margin: .5rem;
    padding: .5rem;

    background-color: #DBC4B0;

    border-radius: 5px;
}

/*@media only screen and (max-width: 1279px) and (min-width: 687px) {
    #control-panel {
        margin: 0 0 1rem 0;
        width: 640px;
    }
}

@media only screen and (max-width: 687px) {
    #control-panel {
        margin: 0 0 1rem 0;
        width: 100%;
    }
}*/

#control-panel > hr {
    width: 75%;
    height: 1px;

    margin: .5rem 0 .5rem 0;
    border: 0;

    background-image: linear-gradient(to right, #dbc4b0, #212121, #dbc4b0);
}

/** ********** SECTIONS ********** **/

.cp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*.cp-section:first-child {
    margin-bottom: .5rem;
}

.cp-section > *:not(:first-child) {
    margin-top: 0;
}*/

/*@media only screen and (max-width: 1279px) {
    .cp-section {
        flex-flow: row nowrap;
    }

    .cp-section > *:not(:first-child) {
        margin-top: 0;
    }
}*/

.cp-section .title {
    width: 100%;

    text-align: center;
}

.cp-section .description {
    width: 100%;

    font-size: .75rem;
    text-align: center;
}

/** ********** SUB-SECTIONS ********** **/

.cp-subsection-full, .cp-subsection-960, .cp-subsection-320 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: .25rem;
}

.cp-subsection-full {
    width: 100%;
}

.cp-subsection-320 {
    width: 320px;
}

.cp-subsection-960 {
    width: 960px;
}

/** ********** SECTION 1 ********** **/

/** ***** UPLOAD DATA ***** **/

.cp-upload-btn-container {
    display: flex;
    justify-content: center;

    margin: .5rem;
    width: 100%;
}

.cp-upload-btn {
    display: inline-flex;

    padding: .5rem;

    background-color: #4C6F71;

    color: #fafafa;
    font-size: .75rem;

    border-radius: 5px;
    box-shadow: 0 2px 5px #20484A;

    transition: box-shadow .2s;
}

.cp-upload-btn:hover {
    box-shadow: 0 4px 7px #20484A;
}

.cp-upload-btn, .cp-upload-btn * {
    cursor: pointer;
    user-select: none;
}

.cp-upload-btn:active {
    box-shadow: 0 1px 3px #20484A;
}

#cp-upload input {
    position: absolute;
    opacity: 0;
}

.cp-upload-status {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;
    padding: .5rem;

    background-color: #C0C7C7;

    font-size: .75rem;

    border-radius: 5px;
}

/** ********** SECTION 2 ********** **/

/** ***** FILTER ***** **/

.cp-filter {

}

.cp-filter-text-input-input {
    width: 100%;
    font-family: inherit;
    font-size: .75rem;
}

.cp-filter-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem 0 0 0;
}

.cp-filter-long-bar {
    position: relative;
    border-radius: 5px;
    background-color: #8B999A;
}

.cp-filter-text-status-container {
    margin-top: 1rem;
    width: 100%;
    font-size: .75rem;
    text-align: center;
    user-select: none;
}

/** ***** SORT ***** **/

.cp-sort {

}

.cp-sort select {
    width: 100%;
    font-family: inherit;
    font-size: .75rem;
}

/** ***** MISC. ***** **/

.cp-misc-checkboxes {
    width: 100%;
}

.cp-misc-checkboxes label {
    font-size: .75rem;
}

.cp-misc-checkboxes input {
    margin-right: .25rem;
}
