#main-chart {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
}

@media only screen and (min-width: 320px) {
    #main-chart {
        max-width: 800px;
        width: auto;
    }
}

#main-chart-empty {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 640px;
    height: 640px;

    text-align: center;
}

/** ********** SVG ********** **/

#main-chart > svg {
    width: 100%;
    height: 100%;
}

/** ********** CHORD DIAGRAM ********** **/

/** ***** Sub groups ***** **/

.chord-tick-label {
    font-size: .5rem;

    stroke-width: 0;
}

.chord-label {
    font-size: .75rem;
    font-weight: bold;

    stroke-width: 0;
}

/** ********** ANIMATIONS ********** **/

.rotate-full-paused {
    animation: rotate-full 100s linear 0s infinite normal forwards paused;
}

.rotate-full {
    animation: rotate-full 100s linear 0s infinite normal forwards running;
}

.rotate-full-reverse-paused {
    animation: rotate-full 100s linear 0s infinite reverse forwards paused;
}

.rotate-full-reverse {
    animation: rotate-full 100s linear 0s infinite reverse forwards running;
}

@keyframes rotate-full {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
