#main-chart {
    position: relative;

    display: flex;
    /*align-items: center;*/
    justify-content: center;


}

@media only screen and (max-width: 640px) {
    #main-chart {
        /*width: 320px;*/
    }
}

@media only screen and (min-width: 640px) {
    #main-chart {
        /*max-width: 800px;*/
        /*width: auto;*/
        /*width: auto;*/
    }
}

@media only screen and (min-width: 1120px) {
    #main-chart {
        /*max-width: 800px;*/
        /*width: auto;*/
        /*width: 800px;*/
    }
}

/** ********** SVG ********** **/

#main-chart > svg {
    /*width: 100%;*/
    /*height: 100%;*/
}

/** ********** CHORD DIAGRAM ********** **/

/** ***** Sub groups ***** **/

.chord-tick-label {
    font-size: .5rem;

    stroke-width: 0;
}

.chord-label {
    font-size: .75rem;
    font-weight: bold;

    stroke-width: 0;
}

/** ********** ANIMATIONS ********** **/

.rotate-full-paused {
    animation: rotate-full 100s linear 0s infinite normal forwards paused;
}

.rotate-full {
    animation: rotate-full 100s linear 0s infinite normal forwards running;
}

.rotate-full-reverse-paused {
    animation: rotate-full 100s linear 0s infinite reverse forwards paused;
}

.rotate-full-reverse {
    animation: rotate-full 100s linear 0s infinite reverse forwards running;
}

@keyframes rotate-full {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
