.chart-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    border: 1px solid #212121;
}

.asset-bar, .limit-line {
    cursor: pointer;
}

.pannable-x-only {
    cursor: grab;
}

.pannable-x-only:active {
    cursor: grabbing;
}

/** ********** CHART TOOLTIP ********** **/

.chart-tooltip {
    position: fixed;

    max-width: 6rem;
    border: 2px solid #212121;
    padding: .25rem;

    border-radius: 3px;

    color: #fafafa;
    font-size: calc(1rem * (2 / 3));

    text-align: center;

    word-wrap: break-word;
    /*word-break: break-all;*/
    hyphens: auto;
}

/** ********** CHART BUTTONS ********** **/

.chart-buttons {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .2rem;
}

.chart-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;
    padding: .2rem;

    background-color: #4C6F71;

    color: #fafafa;
    font-size: .5rem;

    border-radius: 5px;

    cursor: pointer;
    user-select: none;

    transition: box-shadow .2s;
}

.chart-button:hover {
    background-color: #6A8687;
}

.chart-button:active {
    background-color: #355C5E;
}
