#intro {
    width: 100%;
}

#intro > .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #59637D;
}

#intro > .subtitle {
    margin-bottom: 1rem;
    font-size: .75rem;
    color: #9CA0AB;
}

#intro > .description {
    margin-bottom: 1rem;
    color: #59637D;
}