.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 15rem;
}

.loading .loader {
    display: inline-block;

    width: 64px;
    height: 64px;
}

.loading .loader:after {
    display: block;

    width: 46px;
    height: 46px;

    margin: 1px;
    border-width: 5px;
    border-style: solid;
    border-color: #59637d transparent #59637d transparent;

    border-radius: 50%;

    animation: loading-anim 1s cubic-bezier(.77, .29, .49, .83) infinite;

    content: " ";
}

@keyframes loading-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
