/** ********** INPUT BOARD ********** **/

#newfund-dashboard > * {
    display: block;
    margin-bottom: 1rem;
}

/** ********** INPUT ********** **/

.input-container {

}

.input-container label {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    padding: .25rem;
}

.input-container label > * {
    flex: 1 1 0;

    padding: .25rem;

    font: inherit;
}

/* Hide number inputs' spinner */
.input-container label input[type='number'] {
    -moz-appearance: textfield;
}
.input-container label input[type='number']::-webkit-outer-spin-button,
.input-container label input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
